@model IEnumerable<Book>

@{
    ViewData["Title"] = "Bookish Catalogue";
}

<div class="text-center">
    <h1 class="display-4">Bookish</h1>
    <p>@ViewData["BookTitle"]</p>

    <ul>
        @foreach (var item in Model)
        {
        <li>
            <b>Id:</b> @Html.DisplayFor(modelItem => item.Id) |
            <b>Title:</b> @Html.DisplayFor(modelItem => item.Title) |
            <b>Author:</b> @Html.DisplayFor(modelItem => item.Author) |
            <a asp-action="EditBook" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </li>
        }
    </ul>

</div>
